.ftr {
    background: $veryDarkBlackBlue;
    padding: 1.5rem;
    border-top-right-radius: 8rem;

    &_logo{
        padding: 2rem;
    }

    &_section{
        font-family: 'Ubuntu', sans-serif;
        margin: 1rem 0;

        a{
            font-family: 'Ubuntu', sans-serif;
            color: $grayishBlue;
            line-height: 1.9rem;
        }
    }

    &_section_title{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        margin: 1rem 0;
        color: $white;
        font-size: 1.1rem;
    }
}

.attribution{
    background: $veryDarkBlackBlue;
    color: $grayishBlue;
    font-size: 10px;
    text-align: center;

    a{
        color: $grayishBlue;
    }
}